{% extends 'base.html' %}
{% block content %}
    <div class="container" id="main">
        <h1 style="text-align:center;">Simple Todo</h1>
        {% if user.is_authenticated %}
            <div class="auth">
                Hello <b>{{ user.username }}!</b>
                <p>
                    <a style="color: blue; cursor: pointer;"
                    hx-get="{% url 'logout_user' %}"
                    hx-target="#main"
                    hx-swap="outerHTML"
                    >logout</a>
                </p>
                <p>
                    <a style="color: rgb(196, 22, 141); cursor: pointer;"
                    hx-get="{% url 'create_post' %}"
                    hx-target="#main"
                    hx-swap="outerHTML"
                    ><b>Create new post</b></a>
                </p>
            </div>
        {% else %}
            <div class="auth">
                <p>If you want to create a post you'll need an
                    <a style="color: blue; cursor: pointer;"
                    hx-get="{% url 'create_user' %}"
                    hx-target="#main"
                    hx-swap="outerHTML"
                    >account</a>
                </p>
                <p>
                    <a style="color: blue; cursor: pointer;"
                    hx-get="{% url 'login_user' %}"
                    hx-target="#main"
                    hx-swap="outerHTML"
                    >Login</a> if you have an account
                </p>
            </div>
        {% endif %}
            <div class="posts">
                {% for post in user_posts %}
                    <div id="post{{ post.pk }}" 
                        style="border:2px solid #000000; padding:12px; margin: 8px; width:600px">
                        Author: {{ post.post_author.username }} Date created: {{ post.post_date }}
                        <h3>{{ post.post_title }}</h3>
                        <p>{{ post.post_context }}</p>
                        {% if user.is_authenticated and post.post_author == user %}
                            <a hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            style="color: rgb(228, 16, 34); cursor: pointer;"
                            hx-delete="{% url 'delete_post' post.pk %}"
                            hx-target="#main"
                            hx-swap="outerHTML"
                            hx-confirm="Are you sure?"
                            >Delete post</a> | 
                            <a 
                            style="color: rgb(13, 143, 67); cursor: pointer;"
                            hx-get="{% url 'update_post' post.pk %}"
                            hx-target="#post{{ post.pk }}"
                            hx-swap="innertHTML"
                            hx-trigger="edit"
                            {% comment %}
                                I tried to block parallel updating, but
                                hyperscript throws an error that Swal is null, have no idea why.
                            {% endcomment %}
                            _="on click
                                if .editing is not empty
                                    Swal.fire({title: 'Already Editing',
                                            showCancelButton: true,
                                            text:'Hey! You are already editing a post!'})
                                    halt
                                end
                            trigger edit">Edit post</a>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
        {% if messages %}
            <div style="text-align:center;"
            id="messages"
            hx-get="{% url 'flash_message_cleaner' %}"
            hx-swap="outerHTML"
            hx-trigger="load delay:4s">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
